@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  /* padding: 80px; */
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(21, 20, 20);
}

.App-link {
  color: #61dafb;
}

.firstDescrip {
  margin: 0 auto;
  width: 50%;
  min-width: 250px;
}

.Heading {
  padding-top: 70px;
  background: url('./background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 1200px; 
  height: auto;
}

.box {
  background-color: rgba(0,0,0,0.4);
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 30px;
  min-width: 286px;
}

.buttonPad {
  padding-top: 60px;
}

.button {
  text-align: center;
  background-color: rgb(40, 157, 81);
  border-radius: 15px;
  padding: 14px 40px;
  border-color: rgb(51, 140, 82);

}

.Nav .navbar {
  background-color: #0c492c;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
}

.Nav .navbar a {
  color: rgb(255, 255, 255);
}

.rows {
  color: #28292b;
}

.top {
  margin-top: 60px;
}

.para {
  margin-top: 40px;
}

.table {
  width: 50%;
  margin: 0 auto;
  display: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (min-width: 1024px){
 .firstDescrip {
    margin: 0 auto;
    width: 50%;
    min-width: 250px;

  }

  .Heading{
    padding-bottom: 100px;
  }


}

